<div xmlns="http://www.w3.org/1999/html"><%= render 'condition' %></div>

<div>
  <span class="graph"><%= @conditions %></span>
</div>

<div id="three_days">
  <h4>Погода на 3 дня</h4>
  <div id="forecast_three_days" data-vasya="3"></div>
</div>

<div id="date">
  <%= select_date(date = Date.current, options = {}, html_options = {class: "date"}) %><br />
  <%= button_tag "show"%>
  <div id="forecast_of_date"></div>
</div>